<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /src/views/client/home
  RewriteRule ^Home\.vue$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Home.vue [L]
</IfModule>
